.my-work{
    background-color: white;
    width: 100%;
    position: relative;
}

.my-work-cont{
    background-color:black;
    color:white;
    width:100%;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;

}

.title{
    text-align: center;
    width:100%;
    padding:4rem 0 4rem 0;
}

.three-coll{
    width:100%;
    position: relative;
}

.three-coll-cont{
    display:flex;
    align-content: flex-start;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin:0px auto;
    align-content: center;
    padding-bottom:4rem;

}

.site1, .site2, .site3{
    position:relative;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-content: center;
    display:inline;
    margin:0px auto;
    flex-direction: column;
    padding:10px;
    width: 20rem;
}

.three-coll-cont img {
    width:20rem;
}

.three-coll a {
    color:white;
    font-weight:bold;
}