.services{
    background-color: black;
    width:100vw;
    display:flex;

}
.services-container{
    color:black;
    background-color: white;
    width:100%;
    border-top-left-radius:3rem;

}
.label{
    height:20vh;
    text-align: center;
    justify-content: CENTER;
    margin-top:15vh;
}
.serv-list{
    list-style: none;
    height:20rem;
    text-align: center;
    padding:15%;
    width:25rem;
    flex-grow:1rem;
    background-color: #444444;
    color:white;
    border-radius: 20%;
    box-shadow: 4px 4px 10px rgba(0,0,0, 40%);
}
.service-items{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.items-container{
    margin-bottom: 10px;
    width:100vw;
    border:10px black;
    background-color: yellow;
    justify-content: flex-start;
    width:100%;
    
}

ul{
    margin:10px auto;
    display:inline;
}
 .item1{
    margin-bottom:10px;
    
}
