.services{
    background-color: black;
    width:100%;
    display:flex;
    flex-direction: column;
    margin:0px auto;
    height:fit-content;
    position:relative;
}
.services-container{
    color:black;
    background-color: white;
    flex-wrap: wrap;
    width:100%;
    height:fit-content;
    border-top-left-radius:3rem;
    border-bottom-right-radius: 3rem;
    margin:auto;

}

.service-items{
    display:flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin:0px auto;
    padding-bottom:4rem;
}

.service-items ul{
    display: inline-flex;
    position: relative;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    margin:0px auto;
    align-items:center;
}

li{
    display:flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-content: center;
    margin:0px auto;
    text-align: center;
    height:100%;
    
}

.type{
    display: inline-flex;
}

ul img{
    height: 10rem;
    display:inline-flex;
    margin-top:15px auto;

}
.serv-list h2{
    text-align: center;
    width:fit-content;
    position:relative;
    display:inline;
    margin:0px auto;
}

.label{
    height:10vh;
    text-align: center;
    justify-content: CENTER;
    padding-top:4rem;
    margin:10vh 0 10vh 0;
}
.serv-list{
    display:inline-flex;
    height:20rem;
    position: relative;
    text-align: center;
    margin:2vh 2vw 2vh 2vh ;
    padding:5vh;
    position: relative;
    width:25rem;
    background-color: #444444;
    color:white;
    border-radius: 20%;
    justify-items: center;
    box-shadow: 4px 4px 10px rgba(0,0,0, 40%);
}

.type{
    font-family:montserrat, sans-serif;
    font-size:1em;
    text-align: center;
    margin:0px auto;
    justify-content: center;
    height:10rem;
    align-content: center;
    padding:0px;
}

