.services{
    background-color: black;
    width:100%;
    display:flex;
    flex-direction: column;
}
.services-container{
    color:black;
    background-color: white;
    width:100%;
    border-top-left-radius:3rem;
    height:fit-content;

}

.service-items{
    width:100%;
    display: inline;
    flex-direction: row;
    justify-content: center;
    margin:auto;
}
.items-container{
    width:100%;
    width:100%;
    padding:5%;
    margin:0 auto;
}

ul{
    align-content: center;
    justify-content: center;
    flex-basis:auto;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height: 100%;
}
.item1, .item2, .item3 {
  margin-bottom: 20px;
  flex-basis:max-content;
  display:inline-block;
  justify-content: center;
  
}


li{
    display:flex;
    flex-direction: column;
    margin:auto;
}

ul img{
    height: 10rem;

}

.label{
    height:20vh;
    text-align: center;
    justify-content: CENTER;
    margin-top:15vh;
}
.serv-list{
    list-style: none;
    height:20rem;
    display:inline-flex;
    flex-direction: column;
    text-align: center;
    margin:2vh 2vw 2vh 2vh;
    padding:10vh;
    width:25rem;
    background-color: #444444;
    color:white;
    border-radius: 20%;
    box-shadow: 4px 4px 10px rgba(0,0,0, 40%);
}

.type{
    font-family:montserrat, sans-serif;
    font-size:1em;
}